mixin set_nav(activeSet)
	-
		const sets = [
			{ name: 'No. 001', link: 'set-001.html' },
			{ name: 'No. 002', link: 'set-002.html' },
			{ name: 'No. 003', link: 'set-003.html' },
			{ name: 'No. 004', link: 'set-004.html' },
		]

	div.navigation-wrapper
		each set in sets
			a.nav-item(href= link class= activeSet === set.name ? 'viewing' : '')
				span= set.name
				span.selected-bar

mixin feature_nav(sets, pageID)
	-
		const firstSetID = sets[0].id

	div.navigation-wrapper(id="feature-nav-wrapper")
		each set in sets
			div.nav-item(
				id= `${set.id}-nav-item`
				onclick= `changeFeaturePageSet(event, '${pageID}', '${set.id}')`
				class= `${firstSetID === set.id ? 'viewing' : ''}`
			)
				span= set.name
				span.selected-bar

mixin image_container(path, title, location)
	div.image-container
		img(
			src= `images/${path}`
			alt= path
			loading="lazy"
			id= path
			onload=`onImageLoad('${path}')`
		)
		div.content-wrapper
			p.image-title= title
			p.location= location
